<h1>LOGININININININLOGINJUSTDOITLOGINNNNNDJFKSA</h1>

<form action=" <%= session_url %> " method="post">
  <label for="email">EMAILINPUT</label>
  <input id="email" type="text" name="user[email]" >
  <label for="passcode">PASSWORDHEREAD</label>
  <input id="passcode" type="password" name="user[password]">

  <input type="submit" value="LOGIN">
</form>
